<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>TinyLinks</title>
  <meta name="description" content="TinyLinks - A URL shortening service that allows you to create, manage, and track short links easily.">
  <meta name="keywords" content="URL shortening, link management, TinyLinks, short links, link tracking">
  <meta name="author" content="Saurabh Mishra">

  <!-- Tailwind CSS CDN -->
  <script src="https://cdn.tailwindcss.com"></script>
  
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">

  <!-- AOS for animations -->
  <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">
</head>
<body class="bg-gray-50 font-sans text-gray-800">

  <!-- Navbar -->
  <%- include("../includes/navbar.ejs") -%>

  <!-- Main Container -->
  <div class="container mx-auto px-4 py-8">
    <%- include("../includes/flash.ejs") -%>
    <%- body -%>
  </div>

  <!-- Footer -->
  <%- include("../includes/footer.ejs") -%>

  <!-- Scripts -->
  <script src="/js/script.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>
</html>
